<div *ngIf="rewardsForm" fxLayout="column" class="app-container full-height scroll">
    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" class="header">
        <h1 class="primary-text"><strong>infinityDOT Rewards Dashboard</strong></h1>
        <p class="primary-text">Rewards distributed by infinityDot</p>
    </div> 
    <div fxLayout="column" fxFlex="40" class="data-form" fxLayoutAlign="centercenter">
        <h2 style="text-align: center;"><strong>Wallet Address</strong></h2>
        <form [formGroup]="rewardsForm">
            <div style="text-align: center;" fxLayout="column" fxLayoutAlign="center center" class="full-width" >
                    <mat-form-field fxFlex="100" class="full-width"  appearance="fill">
                        <input [value]=""autocomplete="off" matInput formControlName="walletAddress" matInput>
                    </mat-form-field>
                    <p style="text-align: center; font-size: 20px;"><strong>Total Earned Rewards</strong></p>
                    <div>
                        <p style="font-size: 30px; color:white" class="mt-16"><strong>{{totalEarnedRewards}} DOT</strong></p>
                        <p style="font-size: 20px; color:white;padding-top: 8px;">~$ {{totalEarnedRewardsInUSD}}</p>
                    </div>
            </div>
        </form>
    </div>
    <mat-card fxLayout="column" fxFlex="20" class="data-form">
        <p style="text-align: center; font-size: 20px;"><strong>Queued Rewards</strong></p>
            <div  fxLayout="column" fxLayoutAlign="center center" >
                <p style="font-size: 30px; color: white;" class="mt-16"><strong>{{queuedRewards}} DOT</strong></p>
                <p style="font-size: 20px; color: white;padding-top: 8px;">~$ {{queuedRewardsUSD}}</p>
            </div>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="20" class="data-form">
        <p style="text-align: center; font-size: 20px;"><strong>Total Distributed Rewards</strong></p>
            <div *ngIf="totalDistributedRewards && totalDistributedRewardsDOT" fxLayout="column" fxLayoutAlign="center center" >
                <p style="font-size: 30px; color: white;" class="mt-16"><strong>$ {{totalDistributedRewardsFormatted}} </strong></p>
                <p style="font-size: 12px; color: white;padding-top: 8px; width: 300px;text-align: center;">The exact total distributed DOT amount depends on the dot price at the moment of transaction</p>
            </div>
    </mat-card>
    <mat-card fxFlex="20" fxLayout="column" class="footer" fxLayoutAlign="center center">
        <p style="text-align: center;">infinityDOT rewards dashboard contributed with love to the amazing infinityDOT community from Saleh Zinaty</p>
    </mat-card>
</div>