@import '~/../../assets/styles.scss';
.header {
    text-align: center;
    margin-top: 2px;
}
.data-form {
    margin-left: 10%;
    margin-right: 10%;
}
.footer {
}
.app-container {
    height: 100vh !important;
    overflow-y: hidden;
    //background-color: $backgorund-color;
}
