$primary-color : #e825be;
$backgorund-color: #2C0144; 

.full-height {
    height: 100% !important;
}
.full-width {
    width: 100% !important;
}
.mt-8 {
    margin-top: 8px !important;
}

.scroll {
    overflow: auto;
}